$color-light: #ffffff;
$color-dark: #1B2534;
$color-image: #FFD772;
$color-audio: #C038CC;
$color-video: #88A2FF;
$color-gif: #AEEA7F;
$color-graph: #161D2D;


.button {
    height: 7.2rem;
    box-sizing: border-box;
    text-transform: capitalize;

    &_potential>span {
        margin-right: 1.7rem;
    }
}

.button_header {
    background: $color-dark;
    border-radius: 1.7rem;
    padding: 0 3.1rem 0 3.1rem;

    &>span {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: $color-light;

    }
}

.button_dashboard {
    color: $color-light;
    border-radius: 2rem;
    padding: 0 1.7rem 0 3.6rem;
    margin-top: 12rem;
    border: none;

    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        color: $color-dark;
        margin-right: 1.9rem;
    }

}

.tool {
    &-1 {
        background: $color-image;
    }

    &-2 {
        background: $color-audio;
    }

    &-3 {
        background: $color-video;
    }

    &-4 {
        background: $color-gif;
    }
}

.graph {

    &__title {

        color: $color-light;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 4.6rem;
        text-align: right;
    }

    &__button {
        background: $color-main;
        padding: 2.2rem 2.6rem 3rem 3.6rem;
        border-radius: 2rem;
        margin-top: 2rem;

        &__name {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 2rem;
            line-height: 2rem;
            color: $color-light;
        }
    }
}

